.dog-bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

/* .modal-content {
    width: 1100px;
    height: 600px;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 20px;
} */

.food-content-header {
    display: flex;
    justify-content: space-around;
}

.food-content-body {
    overflow-y: scroll;
}

.food-header-left {

}

.food-header-right {
    font-size: 20px;
}

.food-header-right select {
    width: 400px;
    margin: 0px 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    color: black;
}

.food-detail-title {
    font-size: 20px;
    font-weight: 600;
}

.food-body-description {
    text-align: center;
    margin-right: 20px;
}

#foodDescription {
    width: 1100px;

}

#foodPrice {
    overflow: hidden;
    height: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
}