.bg-modal-service {
  width: 100%;
}

#service-detail {
  display: flex;
  flex-direction: row;
}

.service-detail-section {
  width: 800px;
}

#service-section {
  margin: 0 auto;
  width: 750px;
  background-color: white;
  padding: 0px 15px 15px 15px;
  margin-top: 10px;
  border-radius: 10px;
}
