.dog-bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    height: 600px;
    background-color: white;
    /* overflow: hidden; */
    /* scroll-behavior: unset; */
    /* overflow-y: hidden;  */
    overflow: hidden;
    border-radius: 5px;
    padding: 20px;
}

.content-header {
    display: flex;
    height: 530px;
    justify-content: space-around;
    overflow-y: scroll;
}

.modal-content img {
    width: 300px;
    height: 300px;
}

.content-left {
    width: 700px;
}

#content-subtitle {
    font-weight: bolder;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 200px;
    height: 20px;
    margin-left: 5px;
}

.subtitle-information {
    margin: 0px auto;
    width: 500px;
    font-size: 18px;
    outline: none;
    border: 2px black solid;
    border-radius: 5px;
    resize: none;
    margin-left: 15px;
    padding: 10px 10px 0 10px;
    color: black;
}

.subtitle-information:focus {
    border: 2px solid #BB3E00;
    transition: all 0.1s;
}

.information-description {
    /* width: 600px; */
    height: 400px;
}

.content-right {
    margin-top: 160px;
    text-align: center;
}

.content-right img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.content-footer button {
    margin: 0 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.content-footer #btn-modify {
    background-color: #BB3E00;
}

.content-footer #btn-save {
    background-color: green;
}

.content-footer #btn-delete {
    background-color: white;
    box-shadow: 0 0 2px red;
    color: black;
}
