.order_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-right: 5%;
}
.card-report-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 20px 30px 20px 30px ;
    flex-direction: row;

}

.card-report-item:hover {
    transform: translateY(-2px);
}

.invoice-code {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.product-name {
    font-size: 16px;
    margin-bottom: 8px;
}

.total-amount {
    font-weight: bold;
    color: green;
    margin-bottom: 8px;
}

.payment-date {
    font-size: 12px;
    color: gray;
}

.year-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.year-filter label {
    margin-right: 10px;
    font-weight: bold;
}

.year-filter select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.year-filter button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}

.year-filter button:hover {
    background-color: #45a049;
}

.input_date {
    width: 100px;
    height: 25px;
}

.revenue {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    margin-left: 75%;
}

.revenue-label {
    margin-right: 10px;
}

.revenue-amount {
    font-size: 18px;
    color: #4CAF50;
}