
.home-section {
    width: 1228px;
    margin: 0 auto;
    height: 100%;
}

.home-search {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section #search-input {
    width: 50%;
    margin: 30px 50px;
    padding: 5px;
    color: #BB3E00;
    border: 2px solid #FFA200;
    border-radius: 5px;
    outline: #FFA200;
}

#search-input:focus{
    box-shadow: 0 0 3px #BB3E00;
}

#home-btn {
    padding: 5px 20px;
    background-color: #FFA200;
    border: none;
    border-radius: 5px;
    display: flex;
    width: 70px;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    border: 2px solid #FFA200;
    transition: all .25s;
    color: #fff;
}

#home-btn #add-icon {
    width: 20px;
    height: 20px;
}

#home-btn:hover {
    background-color: #fff;
    color: #BB3E00;
}

#home-container {
    height: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
}