

.food-form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.food-form2 {
    display: flex;
    flex-direction: row;
}

#addfood-section {
    margin: 0 auto;
    width: 700px;
    background-color: white;
    padding: 0px 15px 15px 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.description {
    width: 280px;
    height: 143px;
    resize: none;
}

.multivalue-section {
    background-color: white;
    color:gray;
}

#food-section-right {
    min-height: 380px;
}

#food-section-left {
    min-height: 380px;
}
